<div class="header" data-test="header">
  <div class="content-wrapper">
    <div class="content">
      <div class="header__content">
        <div
          *ngIf="(isDesktop$ | async) === false"
          class="header__side header__side_logo"
        >
          <app-github-link
            [size]="40"
            [clickTrackingEvent]="events.VisitGithubHeaderClick"
          ></app-github-link>
        </div>

        <app-header-mobile-menu
          *ngIf="(isDesktop$ | async) === false; else desktopBlock"
          class="header__menu"
        ></app-header-mobile-menu>

        <ng-template #desktopBlock>
          <app-header-desktop-menu
            class="header__menu"
          ></app-header-desktop-menu>
        </ng-template>

        <div
          class="header__side"
          [ngClass]="{ header__side_desktop: (isDesktop$ | async) === true }"
        >
          <app-burger
            *ngIf="(isDesktop$ | async) === false; else githubLogoBlock"
            [opened]="(isMenuOpened$ | async) ?? false"
            (openedChange)="toggleMenuOpened()"
          ></app-burger>

          <ng-template #githubLogoBlock>
            <app-github-link
              [size]="40"
              [clickTrackingEvent]="events.VisitGithubHeaderClick"
            ></app-github-link>
          </ng-template>

          <app-lang></app-lang>
        </div>
      </div>
    </div>
  </div>
</div>
