<div class="header" data-test="header">
  <div class="header__content">
    <div class="header__side header__side_logo">
      <a
        href="https://github.com/dmarov"
        target="_blank"
        class="header__github-wrapper"
      >
        <img
          class="header__github"
          alt="Github"
          src="assets/images/github.png?v=1"
        />
      </a>
    </div>
    <app-menu class="header__menu"></app-menu>
    <div class="header__side">
      <app-burger
        [opened]="isMenuOpened$ | async"
        (openedChange)="toggleMenuOpened()"
      ></app-burger>
      <app-lang *ngIf="isMultilang"></app-lang>
    </div>
  </div>
</div>
