<div class="header" data-test="header">
  <div class="content-wrapper">
    <div class="content">
      <div class="header__content">
        <div class="header__side header__side_logo">
          <a
            data-test="header-github-icon"
            href="https://github.com/dmarov"
            target="_blank"
            class="header__github-wrapper"
            (click)="onVisitGithubHeaderClick()"
          >
            <img
              class="header__github"
              alt="Github"
              src="assets/images/github.png?v=1"
            />
          </a>
        </div>

        <app-header-mobile-menu class="header__menu"></app-header-mobile-menu>

        <div class="header__side">
          <app-burger
            [opened]="(isMenuOpened$ | async) ?? false"
            (openedChange)="toggleMenuOpened()"
          ></app-burger>

          <app-lang></app-lang>
        </div>
      </div>
    </div>
  </div>
</div>
