@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

@import 'blocks', 'pages';

body {

    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #777777;
}
