@use "shared/colors";

.header {
  display: flex;
  transition: background-color linear 0.3s;
  border-bottom: colors.col("content-background") 3px solid;
  align-items: flex-start;

  &__content {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: flex-start;
  }

  &__menu {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: stretch;
    flex-grow: 1;
  }

  &__side {
    display: flex;
    align-items: center;
    align-self: flex-start;
    flex-basis: 83px;
    flex-shrink: 0;
    flex-direction: row-reverse;

    &_logo {
      flex-direction: row;
    }
  }

  &__github {
    height: 40px;
    width: 40px;
  }
}
