@use "../shared/colors";
@use "../shared/mixins";

.header-menu {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  flex-grow: 1;
  padding-top: 6px;

  @include mixins.respond-to("small") {
    padding-top: 0;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 20px;
    font-size: 20px;
    flex-grow: 1;
    text-align: center;
    transition: color 0.3s linear;
    line-height: 1;
    display: none;

    @include mixins.respond-to("small") {
      font-size: 30px;
    }

    &:link,
    &:active,
    &:visited {
      color: colors.col("text");
    }

    &:hover {
      color: colors.col("inactive-route-hover-link");
    }

    &_visible {
      display: block;
    }
  }

  &__entry {
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: stretch;

    &_active {
      .header-menu__link {
        &:link,
        &:active,
        &:visited {
          color: colors.col("active-route-link");
        }
      }
    }
  }
}
