@use "shared/mixins";

.home-img {
  position: relative;
  height: 150px;
  display: flex;

  @include mixins.respond-to("small") {
    height: 200px;
  }

  img {
    position: absolute;
    inset: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
  }
}
