@use "shared/mixins";

.home {
  &__img-wrapper {
    padding-bottom: 20px;
  }

  &__more-products {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    @include mixins.respond-to("small") {
      margin-top: 30px;
    }

    @include mixins.respond-to("medium") {
      margin-top: 40px;
    }

    @include mixins.respond-to("large") {
      margin-top: 70px;
    }

    a {
      text-transform: uppercase;
    }
  }
}
