@use "../shared/colors";
@use "../shared/mixins";

.home-title {
  font-size: 11px;
  color: colors.col("text");

  @include mixins.respond-to("small") {
    font-size: 13px;
  }

  @include mixins.respond-to("medium") {
    font-size: 15px;
  }

  &__text {
    text-align: center;

    &_primary {
      margin: 10px 0 0;
    }

    &_secondary {
      margin: 15px 0 0;
    }

    &_welcome {
      margin: 0;
      font-size: 35px;

      @include mixins.respond-to("small") {
        font-size: 45px;
      }

      @include mixins.respond-to("medium") {
        font-size: 55px;
      }
    }
  }
}
