.home-title {
  font-size: 11px;
  color: $col-dwhite;

  @include respond-to("small") {
    font-size: 13px;
  }

  @include respond-to("medium") {
    font-size: 15px;
  }

  &__text {
    text-align: center;

    &_primary {
      margin: 10px 0 0;
    }

    &_secondary {
      margin: 15px 0 0;
    }

    &_welcome {
      margin: 0;
      font-size: 35px;
      color: $col-dwhite;

      @include respond-to("small") {
        font-size: 45px;
      }

      @include respond-to("medium") {
        font-size: 55px;
      }
    }
  }
}
