.home-title {
  font-size: 12px;
  color: $col-dwhite;

  @include respond-to("small") {
    font-size: 15px;
  }

  @include respond-to("medium") {
    font-size: 17px;
  }

  &__text {
    text-align: center;

    &_primary {
      margin: 10px 0 0;
    }

    &_secondary {
      margin: 15px 0 0;
    }

    &_welcome {
      margin: 0;
      font-size: 40px;
      color: $col-dwhite;

      @include respond-to("small") {
        font-size: 50px;
      }

      @include respond-to("medium") {
        font-size: 60px;
      }
    }
  }
}
