@use "shared/colors";

.lang {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  min-height: 40px;

  &__entry_active {
    display: none;
  }

  &__entries {
    margin: -10px;
  }

  &__link {
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: colors.col("text");
    transition: color 0.3s linear;
    display: block;
    height: 100%;

    &:hover {
      color: colors.col("inactive-route-hover-link");
    }
  }
}
