@use "shared/colors";

.neon-frame {
  --radius: 10px;

  border-radius: var(--radius);
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: var(--radius);
    border: 1px solid colors.col("neon-orange");

    // border: 1px solid colors.col("neon-white");
  }
}
