@use "shared/colors";

.neon-frame {
  --radius: 10px;

  border-radius: var(--radius);
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: var(--radius);
    opacity: 1;
  }

  &.inview {
    &::after {
      transition: opacity 1s ease-in;
    }
  }

  &.inview_not {
    &::after {
      opacity: 0;
    }
  }

  &_theme {
    &_green {
      &::after {
        box-shadow: 0 0 5px colors.col("neon-green");
        border: 1px solid colors.col("neon-green");
      }
    }

    &_orange {
      &::after {
        box-shadow: 0 0 5px colors.col("neon-orange");
        border: 1px solid colors.col("neon-orange");
      }
    }

    &_white {
      &::after {
        box-shadow: 0 0 5px colors.col("neon-white");
        border: 1px solid colors.col("neon-white");
      }
    }
  }
}
