@use "shared/colors";

.preview-product {
  --hover-time: 0.3s;
  --hover-func: linear;

  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  position: relative;
  transition: transform 0.3s linear;

  &__link {
    cursor: pointer;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &::after {
    transition: opacity var(--hover-time) var(--hover-func);
    z-index: 10;
    pointer-events: none;
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: 0 0 20px 20px colors.col("shadow-hover");
    opacity: 0;
  }

  &:hover {
    z-index: 10;
    transform: scale(1.1);

    &::after {
      opacity: 1;
    }
  }
}
