@use "../shared/mixins";

.product-about {
  &__visit-wrapper {
    margin: 20px 10px;
    display: flex;
    justify-content: center;
  }

  &__visit-btn {
    border-radius: 5px;
    font-size: 1.3rem;
    text-transform: uppercase;

    @include mixins.respond-to("medium") {
      font-size: 1.7rem;
    }
  }
}
