.tech-logo {
  position: relative;
  padding-top: 100%;
  width: 100%;

  &__img-wrapper {
    position: absolute;
    inset: 0;
    transform: scale(0.9);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 100%;
    height: auto;

    &_angular {
      transform: scale(0.9);
    }

    &_typescript {
      transform: scale(0.7);
    }

    &_angular-material {
      transform: scale(0.7);
    }

    &_ngrx {
      transform: scale(0.7);
    }

    &_docker {
      transform: scale(0.8);
    }

    &_nodejs {
      transform: scale(0.75);
    }

    &_socketio {
      transform: scale(0.9);
    }

    &_webpack {
      transform: scale(1);
    }

    &_gulp {
      transform: scale(0.7);
    }

    &_nginx {
      transform: scale(0.8);
    }

    &_vue {
      transform: scale(0.9);
    }

    &_babel {
      transform: scale(0.8);
    }
  }
}
