@import "../shared/colors";
@import "../shared/mixins";

.text-page {
  --radius: 10px;

  background-color: $col-grey;
  color: $col-dwhite;
  padding: 20px;
  flex-grow: 1;
  border-radius: var(--radius);

  &_theme {
    &_green {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        border-radius: var(--radius);
        box-shadow: 0 0 5px $col-green;
        border: 1px solid $col-green;
        opacity: 1;
      }

      &.inview {
        &::after {
          transition: opacity 1s ease-in;
        }
      }

      &.inview_not {
        &::after {
          opacity: 0;
        }
      }
    }

    &_orange {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        border-radius: var(--radius);
        box-shadow: 0 0 5px $col-orange;
        border: 1px solid $col-orange;
        opacity: 1;
      }

      &.inview {
        &::after {
          transition: opacity 1s ease-in;
        }
      }

      &.inview_not {
        &::after {
          opacity: 0;
        }
      }
    }

    &_white {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        border-radius: var(--radius);
        box-shadow: 0 0 5px $col-dwhite;
        border: 1px solid $col-dwhite;
        opacity: 1;
      }

      &.inview {
        &::after {
          transition: opacity 1s ease-in;
        }
      }

      &.inview_not {
        &::after {
          opacity: 0;
        }
      }
    }
  }

  &__title {
    text-align: center;
    font-size: 30px;

    @include respond-to("small") {
      font-size: 37px;
    }

    @include respond-to("medium") {
      font-size: 47px;
    }
  }

  &_less-content {
    display: flex;
    flex-direction: column;
  }

  &__li {
    &::marker {
      color: $col-green;
    }
  }

  &__a {
    &:link,
    &:visited {
      color: $col-green;
    }
  }

  &__p {
    font-size: 1.2rem;

    &_center {
      text-align: center;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
  }
}
