<div class="product-about" data-test="rivertv-website">
  <h1 class="content-block__title" i18n="Kemerovo title@@PROJECT_RIVERTV_TITLE">
    RiverTV Website
  </h1>
  <p i18n="RiverTV is@@PROJECT_RIVERTV_IS" class="content-block__p">
    RiverTV is a video streaming service provided by RiverTV Inc. from Canada.
  </p>
  <p i18n="RiverTV does@@PROJECT_RIVERTV_DOES" class="content-block__p">
    RiverTV offers streaming of live channels and on-demand content. The website
    is an online shop and streaming web app where RiverTV package and addons can
    be acquired, managed and watched.
  </p>
  <img
    class="content-block__img"
    src="assets/images/rivertv/tv-guide.png?v=1"
  />
  <div class="product-about__visit-wrapper">
    <a
      i18n="visit@@VISIT"
      class="product-about__visit-btn"
      href="https://rivertv.ca"
      target="_blank"
    >
      Visit
    </a>
  </div>
  <p
    i18n="RiverTV what i did@@PROJECT_RIVERTV_MY_RESPONSIBILITIES"
    class="content-block__p"
  >
    I developed frontend part.
  </p>
  <p i18n="technologies I used@@TECHNOLOGIES_I_USED" class="content-block__p">
    Technologies I used:
  </p>
  <ul>
    <li>Angular</li>
    <li>NgRx</li>
    <li>Webpack</li>
    <li>PostCss</li>
    <li>Eslint</li>
    <li>Stylelint</li>
    <li>Cypress</li>
    <li>Gulp</li>
  </ul>
</div>
