<div class="product-about" data-test="trik-website">
  <h1 class="content-block__title">
    Trik
    <ng-container i18n="website@@WEBSITE">Website</ng-container>
  </h1>
  <p i18n="Trik is@@PROJECT_TRIK_IS" class="content-block__p">
    Trik is a pharmacy network from Krasnodar, Russian Federation. The website
    is an online shop + CMS.
  </p>
  <img class="content-block__img" src="assets/images/trik/home.png?v=1" />
  <div class="product-about__visit-wrapper">
    <a
      i18n="visit@@VISIT"
      class="product-about__visit-btn"
      href="https://trik.ru"
      target="_blank"
    >
      Visit
    </a>
  </div>
  <p i18n="Trik about@@PROJECT_TRIK_DOES" class="content-block__p">
    Trik needed web store that would serve their 5 pharmacies. It required to
    create custom logic for catalog, cart and orders. Their site has complicated
    search by dynamically assignable properties tags, and any logical expression
    which can be constructed from any of properties or tags. Search result can
    be filtered by dynamically assignable properties.
  </p>
  <p
    i18n="Trik what I did@@PROJECT_TRIK_MY_RESPONSIBILITIES"
    class="content-block__p"
  >
    I developed back-end and front-end.
  </p>
  <p i18n="technologies I used@@TECHNOLOGIES_I_USED" class="content-block__p">
    Technologies I used:
  </p>
  <ul>
    <li>Vue</li>
    <li>Vuex</li>
    <li>Webpack</li>
    <li>PHP</li>
    <li>MySQL</li>
    <li>Gulp</li>
  </ul>
</div>
