<div class="product-about content-block" data-test="trik-website">
  <h1 i18n="Kemerovo title@@PROJECT_TRIK_TITLE">Trik Website</h1>
  <p i18n="Trik is@@PROJECT_TRIK_IS">
    Trik is a pharmacy network from Krasnodar, Russian Federation. The website
    is an online shop + CMS.
  </p>
  <img width="1920" height="1080" src="assets/images/trik/home.png?v=1" />
  <div class="product-about__visit-wrapper">
    <a
      data-test="trik-website-link"
      i18n="visit@@VISIT"
      class="product-about__visit-btn"
      href="https://trik.ru"
      target="_blank"
      (click)="onVisitClick()"
    >
      Visit
    </a>
  </div>
  <p i18n="Trik about@@PROJECT_TRIK_DOES">
    Trik needed web store that would serve their 5 pharmacies. It required to
    create custom logic for catalog, cart and orders. Their site has complicated
    search by dynamically assignable properties tags, and any logical expression
    which can be constructed from any of properties or tags. Search result can
    be filtered by dynamically assignable properties.
  </p>
  <p i18n="Trik what I did@@PROJECT_TRIK_MY_RESPONSIBILITIES">
    I developed backend and frontend.
  </p>
  <p i18n="technologies I used@@TECHNOLOGIES_I_USED">Technologies I used:</p>
  <ul>
    <li>Vue</li>
    <li>Vuex</li>
    <li>Webpack</li>
    <li>PHP</li>
    <li>MySQL</li>
    <li>Gulp</li>
  </ul>
</div>
