<div class="welcome">
  <h1
    i18n="welcome|Home page welcome@@BANNER_WELCOME"
    class="welcome__text welcome__text_welcome"
  >
    Welcome!
  </h1>
  <h1
    i18n="introduction@@BANNER_INTRODUCTION"
    class="welcome__text welcome__text_primary"
  >
    My name is Dmitry, and this is my portfolio.
  </h1>
  <h2
    i18n="who am i@@BANNER_WHO_AM_I"
    class="welcome__text welcome__text_secondary"
  >
    I am software developer with over {{ years }} {years, plural, =0{years}
    one{year} other{years}} of experience in web development.
  </h2>
  <h2
    i18n="my goals@@BANNER_MY_GOALS"
    class="welcome__text welcome__text_secondary"
  >
    I'm interested in technology and how to use it to make life better.
  </h2>
</div>
