<div class="not-found" data-test="not-found">
  <div class="content-wrapper">
    <div class="content">
      <div
        class="neon-frame neon-frame_theme_white neon-frame_less-content content-block"
      >
        <div class="not-found__content">
          <h3 class="not-found__paragraph">
            <ng-container i18n="this page doesn't exist@@PAGE_DOES_NOT_EXIST">
              This page doesn't exist
            </ng-container>
            ¯\_(ツ)_/¯
          </h3>
          <a
            i18n="return to home page@@RETURN_TO_HOME_PAGE"
            class="not-found__link content-block__a"
            routerLink="/"
          >
            Return to Home page
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
