@import "blocks/not-found";
@import "blocks/content-block";
@import "blocks/content-wrapper";
@import "blocks/content";

:host {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex-grow: 1;
}
