<section class="page-main__slide main-slide">
    <div class="main-slide__img"></div>
</section>
<section class="page-main__slide main-slide">
    <h2 class="main-slide__text">
        Hi. My name is Dmitry. I am software developer with over 3 years
        experience in web development.
    </h2>
    <!-- <h3 class="main-slide__text"> -->
    <!--     As a frontend developer I'm interested in tech stuff and how to use it to improve web experience. -->
    <!-- </h3> -->
</section>
<div class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page">
            <section class="page-main__tech">
                <p>Here is a list of technologies I've got a lot experienced with</p>
                <ul>
                    <li>Angular</li>
                    <li>NgRx</li>
                    <li>Typescript</li>
                    <li>Webpack</li>
                    <li>Gulp</li>
                </ul>
            </section>
            <section class="page-main__current">
                <p>
                    Currently I work in VMedia - Canadian ISP company, where i develop website and projects related to streaming.
                    These are projects I'm involved in:
                    <br>
                    <a href="https://rivertv.ca">RiverTV</a> - website of streaming service.
                    <br>
                    <a href="https://vmedia.ca">VMedia</a> - company's website
                </p>
            </section>
            <section class="page-main__projects">
                <p>
                    There are projects I was actively involved in and technologies I used.
                </p>
                <ul>
                    <li>
                        <a href="https://rivertv.ca">RiverTV</a>
                        Angular
                    </li>
                    <li>
                        <a href="https://vmedia.ca">VMedia</a>
                        AngularJS
                    </li>
                    <li>
                        <a href="https://trik.ru">Trik</a>
                        PHP, MySQL, Vue
                    </li>
                    <li>
                        <a href="https://paxus.ru">Paxus</a>
                        PHP, MySQL, Vue
                    </li>
                    <li>
                        <a href="https://test-cms.1mcg.ru">Scarlett & Monarch CMS</a>
                        PHP, MySQL, Vue
                    </li>
                </ul>
            </section>
            <section class="page-main__misc">
                <p>
                    I have much experience in FreeBSD, Linux. I've developed backend on PHP, Node.js.
                    Frontend development using Vue and Angular frameworks.
                </p>
                <p>
                    If you'd like to see <a routerLink="/projects">my projects</a> or
                    <a routerLink="/projects">contact me</a> then you can do it here.
                </p>
            </section>
        </article>
    </div>
</div>
