<div class="main-message"></div>
<div class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <div class="text-page">
            <h2>
                Hi. My name is Dmitry. I am software developer with over 3 years
                experience in web development. My specialization is
                frontend development, but also I have experience in backend
                development, system administrating. Also I have my own projects.
            </h2>
            <p>Here is list of technologies I'm most experienced with</p>
            <ul>
                <li>Angular</li>
                <li>NgRx</li>
                <li>Typescript</li>
                <li>Webpack</li>
                <li>Gulp</li>
            </ul>
            <p>
                Currently I work in VMedia - Canadian ISP company, where i develop website and projects related to streaming.
                These are projects I'm involved in:
                <br>
                <a href="https://rivertv.ca">RiverTV</a> - website of streaming service.
                <br>
                <a href="https://vmedia.ca">VMedia</a> - company's website
            </p>
            <p>
                There are projects I was actively involved in and technologies I used.
            </p>
                <ul>
                    <li>
                        <a href="https://rivertv.ca">RiverTV</a>
                        Angular
                    </li>
                    <li>
                        <a href="https://vmedia.ca">VMedia</a>
                        AngularJS
                    </li>
                    <li>
                        <a href="https://trik.ru">Trik</a>
                        PHP, MySQL, Vue
                    </li>
                    <li>
                        <a href="https://paxus.ru">Paxus</a>
                        PHP, MySQL, Vue
                    </li>
                    <li>
                        <a href="https://test-cms.1mcg.ru">Scarlett & Monarch CMS</a>
                        PHP, MySQL, Vue
                    </li>
                </ul>
            <p>
                I have much experience in FreeBSD, Linux. I've developed backend on PHP, Node.js. Frontend development using Vue and Angular frameworks.
            </p>
            <p>here you can see list of projects I've been working on</p>
        </div>
    </div>
</div>
