<section class="page-main__img-wrapper">
    <div class="main-img"></div>
</section>
<section class="page-main__title main-title">
    <h2 class="main-title__text main-title__text--primary">
        Hi. My name is Dmitry.
    </h2>
    <h3 class="main-title__text main-title__text--secondary">
        I am software developer with over 3 years experience in web development.
    </h3>
    <h3 class="main-title__text main-title__text--secondary">
        As a frontend developer I'm interested in tech stuff and how to use it to improve web experience.
    </h3>
</section>
<div class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page">
            <section class="page-main__tech">
                <h3>This is a list of technologies I've got most experienced with:</h3>
                <div class="tech-list">
                    <ul class="tech-list__items">
                        <li class="tech-list__item">
                            <div class="tech-logo">
                                <img class="tech-logo__img" src="/assets/images/tech-logos/angular.svg" alt="Angular">
                            </div>
                        </li>
                        <li class="tech-list__item">
                            <div class="tech-logo">
                                <img class="tech-logo__img" src="/assets/images/tech-logos/ngrx.svg" alt="NgRx">
                            </div>
                        </li>
                        <li class="tech-list__item">
                            <div class="tech-logo">
                                <img class="tech-logo__img" src="/assets/images/tech-logos/typescript.svg" alt="Typescript">
                            </div>
                        </li>
                        <li class="tech-list__item">
                            <div class="tech-logo">
                                <img class="tech-logo__img" src="/assets/images/tech-logos/webpack.svg" alt="Webpack">
                            </div>
                        </li>
                        <li class="tech-list__item">
                            <div class="tech-logo">
                                <img class="tech-logo__img" src="/assets/images/tech-logos/gulp.svg" alt="Gulp">
                            </div>
                        </li>
                        <li class="tech-list__item">
                            <div class="tech-logo">
                                <img class="tech-logo__img" src="/assets/images/tech-logos/babel.svg" alt="Babel">
                            </div>
                        </li>
                        <li class="tech-list__item">
                            <div class="tech-logo">
                                <img class="tech-logo__img" src="/assets/images/tech-logos/nodejs.png" alt="Babel">
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="page-main__current">
                <p>
                    Currently I work in VMedia - Canadian ISP company, where i develop website and projects related to streaming.
                    These are projects I'm involved in:
                    <br>
                    <a target="_blank" href="https://rivertv.ca">RiverTV</a> - website of streaming service.
                    <br>
                    <a target="_blank" href="https://vmedia.ca">VMedia</a> - company's website
                </p>
            </section>
            <section class="page-main__projects">
                <p>
                    These are projects I was actively involved in and technologies I used.
                </p>
                <ul>
                    <li>
                        <a href="https://rivertv.ca">RiverTV</a>
                        Angular
                    </li>
                    <li>
                        <a href="https://vmedia.ca">VMedia</a>
                        AngularJS
                    </li>
                    <li>
                        <a href="https://trik.ru">Trik</a>
                        PHP, MySQL, Vue
                    </li>
                    <li>
                        <a href="https://paxus.ru">Paxus</a>
                        PHP, MySQL, Vue
                    </li>
                    <li>
                        <a href="https://test-cms.1mcg.ru">Scarlett & Monarch CMS</a>
                        PHP, MySQL, Vue
                    </li>
                </ul>
            </section>
            <section class="page-main__misc">
                <p>
                    I have much experience in FreeBSD, Linux. I've developed backend on PHP, Node.js.
                    Frontend development using Vue and Angular frameworks.
                </p>
                <p>
                    If you'd like to see <a routerLink="/projects">my projects</a> or
                    <a routerLink="/projects">contact me</a> then you can do it here.
                </p>
                <!-- Cross browser development -->
            </section>
        </article>
    </div>
</div>
