<div class="product-about" data-test="robots-mango-office">
  <h1 class="content-block__title">
    <ng-container i18n="Robots|Robots service of MANGO OFFICE@@ROBOTS"
      >Robots</ng-container
    >
    MANGO OFFICE
  </h1>

  <p class="content-block__p" i18n="MANGO OFFICE is@@MANGO_OFFICE_IS">
    MANGO OFFICE is a provider for B2B solution in realm of telecommuniactions
    from Moscow, Russian Federation.
  </p>

  <p class="content-block__p" i18n="robots service@@VIRTUAL_ASSISTANT_IS">
    It has large ecosystem of products. One of the products is "Virtual
    Assistant" service. It provides solution for creating and managing virtual
    employees also known as "robots".
  </p>

  <p class="content-block__p" i18n="robot purpose@@VIRTUAL_ASSISTANT_PURPOSE">
    "Robot" can make outcoming calls through an entire clients base, accept
    incoming calls, handle chat for all the different platforms such as
    "Telegram" or "Whatsapp".
  </p>

  <img class="content-block__img" src="assets/images/robots/robots.png" />

  <p
    class="content-block__p"
    i18n="robots script constructor@@VIRTUAL_ASSISTANT_SCRIPT_CONSTRUCTOR"
  >
    Script constructor enables major possibilities for scripting with
    conditions, cycles, SMS and email notifications, handling user input and
    lots of other features used to automate routine.
  </p>

  <p
    i18n="virtual assistant what i did@@PROJECT_ROBOTS_MY_RESPONSIBILITIES"
    class="content-block__p"
  >
    I developed front-end.
  </p>

  <p i18n="technologies I used@@TECHNOLOGIES_I_USED" class="content-block__p">
    Technologies I used:
  </p>

  <ul>
    <li>Angular</li>
    <li>Angular Material</li>
    <li>Socket.io</li>
    <li>Jest</li>
    <li>Docker</li>
    <li>Sass</li>
    <li>Eslint</li>
    <li>Stylelint</li>
    <li>Nodejs</li>
    <li>Nginx</li>
  </ul>
</div>
