<div class="product-about" data-test="robots-mango-office">
  <h1 class="text-page__title">Robots MANGO OFFICE</h1>
  <p class="text-page__p">
    MANGO OFFICE is a provider for B2B solution in realm of telecommuniactions
    from Moscow, Russian Federation. 
  </p>

  <p class="text-page__p">
    It has large ecosystem of products.
    One of the products is "Virtual Assistant" service.
    It provides solution for creating and managing virtial employees also known
    as "robots".
  </p>

  <p class="text-page__p">
    "Robot" can make outcoming calls all over the client base, accept incoming calls,
    handle chat for all the different platforms such as "Telegram" or
    "Whatsapp".
  </p>

  <img class="text-page__img" src="assets/images/robots/robots.png" />
</div>
