<div class="product-about" data-test="vmedia-website">
  <h1 class="text-page__title">
    VMedia
    <ng-container i18n="website@@WEBSITE">Website</ng-container>
  </h1>
  <p i18n="VMedia is@@PROJECT_VMEDIA_IS" class="text-page__p">
    VMedia is an internet service provider from Canada.
  </p>
  <p i18n="VMedia does@@PROJECT_VMEDIA_DOES" class="text-page__p">
    Apart from internet it also offers services such as cable-free TV, home
    phone and home security. The website is online shop where such services can
    acquired and managed.
  </p>
  <img class="text-page__img" src="assets/images/vmedia/checkout.png?v=1" />
  <div class="product-about__visit-wrapper">
    <a
      i18n="visit@@VISIT"
      class="product-about__visit-btn"
      href="https://vmedia.ca"
      target="_blank"
    >
      Visit
    </a>
  </div>
  <p
    i18n="VMedia what I did@@PROJECT_VMEDIA_MY_RESPONSIBILITIES"
    class="text-page__p"
  >
    I refactored front-end, implemented new features, fixed bugs, upgraded a lot
    of legacy code.
  </p>
  <p i18n="technologies I used@@TECHNOLOGIES_I_USED" class="text-page__p">
    Technologies I used:
  </p>
  <ul>
    <li>AngularJS</li>
    <li>Typescript</li>
    <li>Webpack</li>
    <li>PostCss</li>
    <li>Eslint</li>
    <li>Stylelint</li>
    <li>Cypress</li>
    <li>Gulp</li>
  </ul>
</div>
