<div class="product-about content-block" data-test="vmedia-website">
  <h1 i18n="Kemerovo title@@PROJECT_VMEDIA_TITLE">VMedia Website</h1>

  <p i18n="VMedia is@@PROJECT_VMEDIA_IS">
    VMedia is an internet service provider from Canada.
  </p>

  <p i18n="VMedia does@@PROJECT_VMEDIA_DOES">
    Apart from internet it also offers services such as cable-free TV, home
    phone and home security. The website is online shop where such services can
    acquired and managed.
  </p>

  <img width="1920" height="1080" src="assets/images/vmedia/checkout.png?v=1" />

  <div class="product-about__visit-wrapper">
    <a
      data-test="vmedia-website-link"
      i18n="visit@@VISIT"
      class="product-about__visit-btn"
      href="https://vmedia.ca"
      target="_blank"
      (click)="onVisitClick()"
    >
      Visit
    </a>
  </div>

  <p i18n="VMedia what I did@@PROJECT_VMEDIA_MY_RESPONSIBILITIES">
    I refactored frontend, implemented new features, fixed bugs, upgraded a lot
    of legacy code.
  </p>

  <p i18n="used technologies@@TECHNOLOGIES_I_USED">Technologies I used:</p>

  <ul>
    <li>AngularJS</li>
    <li>Typescript</li>
    <li>Webpack</li>
    <li>PostCss</li>
    <li>Eslint</li>
    <li>Stylelint</li>
    <li>Cypress</li>
    <li>Gulp</li>
  </ul>
</div>
