@use "shared/mixins";

:root {
  @include mixins.theme("dark") {
    --app-color-active-route-link: #98ce00;
    --app-color-text: #e0e0e0;
    --app-color-background: #000;
    --app-color-inactive-route-hover-link: #f96900;
    --app-color-content-background: #181818;
    --app-color-red: #570000;
    --app-color-link: #24d4f2;
    --app-color-link-hover: #24f0f2;
    --app-color-link-active: #24fff2;
    --app-color-neon-green: #98ce00;
    --app-color-neon-orange: #fbb02d;
    --app-color-neon-white: #e0e0e0;
    --app-color-shadow-hover: #000;
    --app-color-scrollbar-thumb: #222;
    --app-color-scrollbar-thumb-hover: #444;
    --app-color-header: rgb(0 0 0 / 90%);
  }
}
