.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: $col-black;

    &__content-wrapper {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    &__content {
        flex-grow: 1;
        align-self: stretch;
        padding: 20px;
        display: flex;
        flex-direction: column;

        &_text-page {
            max-width: 1200px;
        }
    }

    &__header {
        position: sticky;
        top: 0;
        background-color: rgba(0,0,0,0.9);
        // background-color: $col-green;
    }

    &__main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        // background: radial-gradient($col-ddblue, $col-dblue);
        background-image: url(/assets/images/digitization.jpg);
    }

    &__footer {
        // background-color: $col-blue;
    }
}
