// $col-white: #FFFFFF;
// $col-blue: #1282A2;
// $col-black: #1E212B;
$col-green: #98CE00;
// $col-red: #CF5C36;
$col-white: #E5EAFA;
$col-black: #000000;
$col-dblue: #1b0075;
$col-ddblue: #090026;
