.header {
    display: flex;
    padding: 5px;
    color: $col-black;

    @include respond-to('small') {
        padding: 10px;
    }

    &__menu {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: stretch;
    }
}
