.header-menu {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;

    &:not(.header-menu--mobile--open) {
        .header-menu__entry:not(.header-menu__entry--active) {
            display: none;
        }

        @include respond-to('small') {
            flex-direction: row;

            .header-menu__entry:not(.header-menu__entry--active) {
                display: block;
            }
        }
    }

    &__entry {
        display: flex;
        align-items: stretch;

        &--active {
            .header-menu__link {
                &:link,&:active,&:visited {
                    color: $col-green;
                }
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        padding: 5px 20px;
        font-size: 20px;
        transition: color 0.3s linear;

        @include respond-to('small') {
            font-size: 30px;
        }

        &:link,&:active,&:visited {
            color: $col-white;
        }

        &:hover {
            color: $col-blazeoragne;
        }
    }
}
