@import "normalize.css";
@import "shared/colors";

html {
  height: 100%;
  overflow-x: hidden;
  line-height: 1.45;
}

body {
  background: $col-black;
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

a {
  transition: color 100ms linear;
  text-decoration: none;
}

a,
a:link,
a:visited {
  color: $col-link;
}

a:hover {
  color: $col-link-hover;
  text-decoration: underline;
}

a:active {
  color: $col-link-active;
}
