@import 'colors.scss';
@import 'app-layout.scss';
@import 'text-page.scss';
@import 'header-menu.scss';
@import 'header.scss';

html {
    height: 100%;
}

.body {
    background: $col-black;
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
}
