.main-project {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $col-green;
    border-radius: 10px;
    padding: 20px;
    user-select: none;

    &__link {
        cursor: pointer;
    }

    &__img {
        width: 100%;
    }

    &__title {
        color: $col-green;
    }

    &__tech-list {
        margin-top: auto;
        padding-left: 0;
        list-style-type: none;
    }
}
