.main-title {
  padding: 20px;
  font-size: 12px;
  color: $col-dwhite;

  @include respond-to("small") {
    padding: 30px;
    font-size: 15px;
  }

  @include respond-to("medium") {
    padding: 50px 40px;
    font-size: 17px;
  }

  &__text {
    text-align: center;

    &--primary {
      margin: 20px 0 30px;
    }

    &--secondary {
      margin: 10px 0 5px;
    }

    &--welcome {
      margin: 0 10px;
      font-size: 40px;
      color: $col-dwhite;

      @include respond-to("small") {
        font-size: 50px;
      }

      @include respond-to("medium") {
        font-size: 60px;
      }
    }
  }
}
