.main-slide {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        text-align: center;
    }

    &__img {
        width: auto;
        height: 200px;
    }
}
