.page-main {
    &__projects-line {
        margin-top: 10px;

        @include respond-to('small') {
            margin-top: 20px;
        }

        @include respond-to('medium') {
            margin-top: 40px;
        }

        @include respond-to('large') {
            margin-top: 70px;
        }

        a {
            text-transform: uppercase;
        }
    }
}
