.tech-list {
    // --offset: 10px;
    --perline: 4;

    &__items {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        // margin: var(--offset);
    }

    &__item {
        // margin: var(--offset);
        list-style-type: none;
        // flex-basis: calc(100%/7 - 2 * var(--offset));
        flex-basis: calc(100%/var(--perline));
    }

    @include respond-to('small') {
        --perline: 7;
    }
}
