.tech-logo {
  position: relative;
  padding-top: 100%;
  width: 100%;

  &__img-wrapper {
    position: absolute;
    inset: 0;
    transform: scale(0.9);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 100%;
    height: auto;

    &--angular {
      transform: scale(1.1);
    }

    &--webpack {
      transform: scale(1.3);
    }

    &--ngrx {
      transform: scale(0.95);
    }

    &--nodejs {
      transform: scale(0.8);
    }

    &--typescript {
      transform: scale(0.9);
    }

    &--babel {
      transform: scale(0.9);
    }

    &--gulp {
      transform: scale(0.9);
    }

    &--vue {
      transform: scale(1.2);
    }
  }
}
