.text-page {
    background-color: $col-grey;
    // background-color: rgba(240, 239, 244, 0.97);
    color: $col-dwhite;
    padding: 20px;
    flex-grow: 1;
    border-radius: 20px;
    border: 1px solid $col-dwhite;

    &--border {
        &--green {
            border: 1px solid $col-green;
        }

        &--orange {
            border: 1px solid $col-orange;
        }
    }

    &__title {
        text-align: center;
    }

    &__less-content {
        display: flex;
        flex-direction: column;
    }

    &__li {
        &::marker {
            color: $col-green;
        }
    }

    &__a {
        &:link, &:visited {
            color: $col-green;
        }
    }

    &__p {
        &--center {
            text-align: center;
        }
    }
}
