.text-page {
    background-color: $col-grey;
    // background-color: rgba(240, 239, 244, 0.97);
    color: $col-dwhite;
    padding: 20px;
    flex-grow: 1;
    border-radius: 20px;

    &--theme {
        &--green {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                pointer-events: none;
                border-radius: 20px;
                box-shadow: 0 0 5px $col-green;
                border: 1px solid $col-green;
                opacity: 1;
            }

            &.inview {
                &::after {
                    transition: opacity 1s ease-in;
                }
            }

            &.inview--not {
                &::after {
                    opacity: 0;
                }
            }
        }

        &--orange {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                pointer-events: none;
                border-radius: 20px;
                box-shadow: 0 0 5px $col-orange;
                border: 1px solid $col-orange;
                opacity: 1;
            }

            &.inview {
                &::after {
                    transition: opacity 1s ease-in;
                }
            }

            &.inview--not {
                &::after {
                    opacity: 0;
                }
            }
        }

        &--white {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                pointer-events: none;
                border-radius: 20px;
                box-shadow: 0 0 5px $col-dwhite;
                border: 1px solid $col-dwhite;
                opacity: 1;
            }

            &.inview {
                &::after {
                    transition: opacity 1s ease-in;
                }
            }

            &.inview--not {
                &::after {
                    opacity: 0;
                }
            }
        }
    }

    &__title {
        text-align: center;
        font-size: 22px;

        @include respond-to('small') {
            font-size: 25px;
        }

        @include respond-to('medium') {
            font-size: 30px;
        }

    }

    &--less-content {
        display: flex;
        flex-direction: column;
    }

    &__li {
        &::marker {
            color: $col-green;
        }
    }

    &__a {
        &:link, &:visited {
            color: $col-green;
        }
    }

    &__p {
        font-size: 1.2rem;

        &--center {
            text-align: center;
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
    }
}
