.text-page {
    background-color: $col-grey;
    // background-color: rgba(240, 239, 244, 0.97);
    color: $col-dwhite;
    padding: 20px;
    flex-grow: 1;
    border-radius: 20px;
    border: 1px solid $col-green;

    &__less-content {
        display: flex;
        flex-direction: column;
    }

    ul {
        padding-left: 15px;
    }

    li {
        &::marker {
            color: $col-green;
        }
    }

    a {

        &:link, &:visited {
            color: $col-green;
        }
    }
}
