<div class="product-about" data-test="scarlett-and-monarch-cms">
  <h1 i18n="Scarlett and Monarch CMS@@PROJECT_SNM_IS" class="content-block__title">
    "Scarlett & Monarch" CMS
  </h1>
  <p i18n="S&M CMS is used for@@PROJECT_SNM_DOES" class="content-block__p">
    "Scarlett & Monarch" is a company of commercial website development and
    hosting. Content management sytem of "Scarlett & Monarch" is used for each
    and every website project of company. Each customer has their own
    requirements. CMS evolved with each new requirement.
  </p>
  <img class="content-block__img" src="assets/images/cms/login.png?v=1" />
  <p
    i18n="S&M CMS what I did@@PROJECT_SNM_MY_RESPONSIBILITIES"
    class="content-block__p"
  >
    I developed back-end and front-end, updated legacy code, developed new
    modules such as <i>catalog editor</i>, <i>feedback</i>,
    <i>orders management</i>.
  </p>

  <p i18n="S&M CMS about@@PROJECT_SNM_ABOUT" class="content-block__p">
    One of the most advanced modules is <i>catalog editor</i>, which allows
    binding arbitrary properties to product. It allows bind arbitrary properties
    such as array of products, array of images, text, number, boolean, array of
    strings or even arbitrary structure if all the previous was not enough. API
    of web site allows to create advanced search by this properties. Orders
    module allows to create flexible orders, which change its' structure with
    every new project. Order has standard properties such as full name and phone
    number, but also can have any other property which will be displayed and can
    be modified. This module also allows to modify orders' content, adding,
    removing and modifying products. Orders' sum recalculates automatically,
    including discounts. It also allows to notify client via SMS or email about
    order status.
  </p>
  <p i18n="technologies I used@@TECHNOLOGIES_I_USED" class="content-block__p">
    Technologies I used:
  </p>
  <ul>
    <li>Vue</li>
    <li>Vuex</li>
    <li>Webpack</li>
    <li>PHP</li>
    <li>MySQL</li>
    <li>Gulp</li>
  </ul>
</div>
