<div class="product-about content-block" data-test="paxus-website">
  <h1 i18n="Kemerovo title@@PROJECT_PAXUS_TITLE">Paxus Website</h1>

  <p i18n="Paxus is@@PROJECT_PAXUS_IS">
    Paxus is a company from Archangelsk, Russian Federation. It constructs and
    sells offroad vehicles, which can be customized depending on customer's
    needs. The website is an online shop + CMS.
  </p>

  <img
    width="1920"
    height="1080"
    src="assets/images/paxus/catalog-item.png?v=2"
  />

  <div class="product-about__visit-wrapper">
    <a
      data-test="paxus-website-link"
      i18n="visit@@VISIT"
      class="product-about__visit-btn"
      href="https://paxus.ru"
      target="_blank"
      (click)="onVisitClick()"
    >
      Visit
    </a>
  </div>

  <p i18n="Paxus about@@PROJECT_PAXUS_DOES">
    Catalog includes product constructor where customer can customize vehicle
    parts such as engine, color, features, etc. Available customization for
    product can be assigned in CMS.
  </p>

  <p i18n="Paxus my responsibilities@@PROJECT_PAXUS_MY_RESPONSIBILITIES">
    I developed backend and Implemented most complex parts of frontend logic.
  </p>

  <p i18n="used technologies@@TECHNOLOGIES_I_USED">Technologies I used:</p>

  <ul>
    <li>Vue</li>
    <li>Vuex</li>
    <li>Webpack</li>
    <li>PHP</li>
    <li>MySQL</li>
  </ul>
</div>
