<div class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page text-page--theme--orange unfold unfold--hidden inview inview--not">
            <h1 class="text-page__title">
                Career
            </h1>
            <p class="text-page__p">
                As a start of my career I've got solid math and computer science background in
                <b>NARFU "Applied Mathematics and Computer Science"</b> which
                I've graduated in 2017. At that time participated in math and programming
                olympiads. As a base programming language I regard <b>C++</b>
                but also I learned C, Java, Python, Assembly.
            </p>

            <p class="text-page__p">
                Short after that I've started my career as backend developer.
                It was my first experience of commercial software development.
                That's when I got acquainted with <b>PHP</b> and <b>MySQL</b>,
                as well as frontend technologies such as <b>Gulp</b>, <b>Webpack</b>,
                <b>Sass</b>, <b>Babel</b>.
            </p>

            <p class="text-page__p">
                Then the time has come when native Javascript was not enough in
                order to keep implementing complex solutions in efficient way.
                That's when I made decision to learn <b>Vue</b> framework which
                payed out later.
            </p>

            <p class="text-page__p">
                Path lead to resolve more complex problems related to outdated,
                unmaintainable infrastructure. Being experienced with <b>Node.js</b>
                I've implemented microservices. There's some of them:
            </p>

            <ul>
                <li><b>SMS sending gateway</b> - rest API to send SMS notifications using GSM gateway</li>
                <li><b>PDF generator</b> - REST API to convert HTML page to PDF (most useful for printing invoices)</li>
                <li><b>JWT token generator</b> - REST API to generate JWT token pairs (useful for authentication)</li>
            </ul>

            <p class="text-page__p">
                These services was very useful for each new website.
            </p>

            <p class="text-page__p">
                Since each service required separate environnment it required
                a lot of administering efforts, which I was also responsible for.
                I already had a lot knowledge about FreeBSD operating system,
                so it was time to apply this knowledge in practice.
            </p>

            <p class="text-page__p">
                Then I decided to specialize in frontend and move to big projects.
                That's when I've learned <b>Typescript</b> and <b>Angular</b>
                which became part of my main technology stack till current day.
                Such aspects as Site Engine Optimization (SEO), implementing UI test,
                pixel perfect markup, cross browser development, accessibility - this is what
                I'm most focused on at work.
            </p>

        </article>
    </div>
</div>
