<div class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page text-page--theme--orange">
            <h1 class="text-page__title">
                About Me
            </h1>

            <p>
                In 2017 I graduated NARFU "Applied Mathematics and Computer Science".
                I started my career as backend PHP developer, but I never lost opportunity to learn new technology.
                So I also done frontend. I learned Vue framework and created some complicated modules with it.
                Also I developed services with Node.js such as SMS sending service and html to pdf converter.
                I developed simple websites, web services and web stores as a fullstack.
                I administered servers on FreeBSD. That's how FreeBSD became my favorite OS.
                Arch Linux is my favorite linux distribution.
            </p>

            <p>
                PS. My favorite text editor is Vim
            </p>
        </article>
    </div>
</div>
