<div class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page text-page--theme--orange unfold unfold--hidden unfold--left">
            <h1 class="text-page__title">
                Career
            </h1>
            <p class="text-page__p">
                I graduated <b>NARFU "Applied Mathematics and Computer Science"</b> in 2017.
                This is when I started my career as backend <b>PHP</b> developer.
            </p>
            <p class="text-page__p">
                I never lost opportunity to learn new technology, and this is how I moved into frontend.
                That's when I was required to learn how to use <b>Vue/webpack</b> to resolve existed engineering problems.
            </p>
            <p class="text-page__p">
                At the same time I developed microservices using <b>Node.js</b> to resolve existed infrastructural problems.
                Such services as <b>SMS sending gateway</b>, <b>PDF generator</b> and <b>JWT token generator</b>
                was implemented by me and used later on.
            </p>
            <p class="text-page__p">
                Also I was responsible for administering servers, which had FreeBSD as an oparating system.
            </p>
            <p class="text-page__p">
                After that I decided to become frontend developer on the whole new level.
                That's when I've learned <b>Typescript</b> and <b>Angular</b> which became part of my main technology stack till current day.
            </p>
        </article>
    </div>
</div>

<!-- <div class="app-layout__content-wrapper"> -->
<!--     <div class="app-layout__content"> -->
<!--         <article class="text-page text-page--theme--green"> -->
<!--             <h1 class="text-page__title"> -->

<!--             </h1> -->
<!--             <p class="text-page__p"> -->
<!--             </p> -->

<!--         </article> -->
<!--     </div> -->
<!-- </div> -->
