<header class="app-layout__header header">
    <div class="header__content">
        <app-menu [isMenuOpen]="isMenuOpen" class="header__menu"></app-menu>
        <div class="header__burger-wrapper">
            <div class="burger"
                [ngClass]="{'burger--opened': isMenuOpen$ | async}"
                (click)="toggleMenuOpen()">
                <div class="burger__center">
                    <div class="burger__line"></div>
                    <div class="burger__line"></div>
                    <div class="burger__line"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="app-layout__main">
    <router-outlet></router-outlet>
</main>
<footer class="app-layout__footer">
    <div class="app-layout__content-wrapper">
        <div class="app-layout__content app-layout__content_footer">
            <div class="footer">
                <a href="https://github.com/dmarov" target="_blank">
                    <img class="footer__github" src="/assets/images/github.png" alt="Github">
                </a>
            </div>
        </div>
    </div>
</footer>
