<header class="app-layout__header header">
    <app-menu class="header__menu"></app-menu>
</header>
<main class="app-layout__main">
    <router-outlet>

    </router-outlet>
</main>
<footer class="app-layout__footer">
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in arcu purus. Suspendisse non tristique arcu. Nam nisi justo, pretium ut tellus vel, tincidunt auctor mi. Nullam gravida, nunc id dapibus interdum, urna ex posuere magna, vitae interdum orci lorem quis felis. Duis accumsan, neque at finibus iaculis, nibh sapien rutrum lacus, nec fermentum lectus erat maximus metus. Etiam at nisi sed urna sagittis accumsan. Praesent sit amet lorem ullamcorper, gravida nibh sed, tempor neque. Donec imperdiet arcu et ligula congue sollicitudin. Morbi eget elit sollicitudin, accumsan ex at, ullamcorper eros. Sed commodo elementum magna, ut bibendum leo cursus quis. Morbi eget luctus libero.
</footer>
