@use "shared/colors";
@import "blocks/app";
@import "blocks/content-wrapper";
@import "blocks/content";
@import "blocks/footer";

:host {
  display: block;
  flex-grow: 1;
}

.app-scrollbar {
  --scrollbar-thumb-color: #{colors.col("scrollbar-thumb")};
  --scrollbar-thumb-hover-color: #{colors.col("scrollbar-thumb-hover")};

  // unit is required here due to scrollbar API
  /* stylelint-disable-next-line length-zero-no-unit */
  --scrollbar-padding: 0px;
  --scrollbar-size: 7px;
}
