<div id="project-rivertv" class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page text-page--theme--orange">
            <h1 class="text-page__title">
                RiverTV
            </h1>

            <p>
                RiverTV in a side-project of VMedia which provides Canadian cable-free TV.
                It became my main project. Now it has checkout and TV modules.
            </p>
        </article>
    </div>
</div>

<div id="project-vmedia" class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page text-page--theme--green">
            <h1 class="text-page__title">
                VMedia
            </h1>
        </article>
    </div>
</div>

<div id="project-trik" class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page text-page--theme--white">
            <h1 class="text-page__title">
                Trik
            </h1>
        </article>
    </div>
</div>

<div id="project-paxus" class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page text-page--theme--orange">
            <h1 class="text-page__title">
                Paxus
            </h1>
        </article>
    </div>
</div>

<div id="project-sm-cms" class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page text-page--theme--green">
            <h1 class="text-page__title">
                Scarlett & Monarch CMS
            </h1>
        </article>
    </div>
</div>

<div id="project-kemerovo" class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page text-page--theme--white">
            <h1 class="text-page__title">
                Kemerovo
            </h1>
        </article>
    </div>
</div>
