<div class="fragment" id="project-rivertv"></div>
<div class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page text-page--theme--orange unfold unfold--hidden inview inview--not">
            <div class="project-about">
                <h1 class="text-page__title">
                    RiverTV Website
                </h1>
                <p class="text-page__p">
                    RiverTV is a video streaming service provided by RiverTV Inc., Canada, Toronto.
                </p>
                <p class="text-page__p">
                    RiverTV offers streaming of live channels and on-demand content.
                    The website is online shop and TV web app where RiverTV package and addons can be acquired, managed and watched.
                </p>
                <img class="text-page__img" src="/assets/images/rivertv/tv-guide.png">
                <p class="text-page__p">
                    I developed frontend for checkout and TV guide.
                </p>
                <div class="project-about__visit-wrapper">
                    <a class="project-about__visit-btn" href="https://rivertv.ca" target="_blank">
                        Visit
                    </a>
                </div>
            </div>
        </article>
    </div>
</div>

<div class="fragment" id="project-vmedia"></div>
<div class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page text-page--theme--green unfold unfold--hidden inview inview--not">
            <div class="project-about">
                <h1 class="text-page__title">
                    VMedia Website
                </h1>
                <p class="text-page__p">
                    VMedia is a internet service provider from Canada, Toronto.
                </p>
                <p class="text-page__p">
                    Apart from internet it also offers services such as cable-free TV, home phone and home security.
                    The website is online shop where such services can acquired and managed.
                </p>
                <img class="text-page__img" src="/assets/images/vmedia/home.png">
                <p class="text-page__p">
                    The site has very complex checkout and frontend overall.
                    I refactored frontend, implemented new features, fixed bugs, upgraded a lot of legacy code.
                </p>
                <div class="project-about__visit-wrapper">
                    <a class="project-about__visit-btn" href="https://vmedia.ca" target="_blank">
                        Visit
                    </a>
                </div>
            </div>
        </article>
    </div>
</div>

<div class="fragment" id="project-sm-cms"></div>
<div class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page text-page--theme--white unfold unfold--hidden inview inview--not">
            <div class="project-about">
                <h1 class="text-page__title">
                    "Scarlett & Monarch" CMS
                </h1>
                <p class="text-page__p">
                    Content management sytem of "Scarlett & Monarch" was used for each and every website project of company.
                    Each customer had their own requirements. CMS evolved with each new requirement.
                </p>
                <p class="text-page__p">
                    I developed backend and frontend, updated legacy code, developed
                    new modules such as <i>catalog product editor</i>, <i>feedback</i>, <i>orders management</i>.
                <p class="text-page__p">
                    One of the most advanced modules is <i>catalog product editor</i>,
                    which allows binding arbitrary properties to product.
                    It allows bind array of products, array of images,
                    text, number, boolean, array of strings, arbitrary json.
                    Api of web site allows to create advanced search by this properties.
                    Orders module allows to create flexible orders, which change its' structure
                    with every new project. Order has standard properties such as full name and mobile number,
                    but also can have any other property which will be displayed and can be modified. This module
                    also allows to modify orders' content, adding, removing and modifying products. Orders' sum
                    recalculates automatically, including discounts. It also allows to notify client via SMS or email.
                </p>
                <p class="text-page__p">
                    All this was made by me using Vue.js framework.
                </p>
            </div>
        </article>
    </div>
</div>

<div class="fragment" id="project-trik"></div>
<div id="project-trik" class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page text-page--theme--orange unfold unfold--hidden inview inview--not">
            <div class="project-about">
                <h1 class="text-page__title">
                    Trik Website
                </h1>
                <p class="text-page__p">
                    Trik is a pharmacy network from Krasnodar, Russian Federation.
                    The website is an online shop + CMS.
                </p>
                <img class="text-page__img" src="/assets/images/trik/home.png">
                <p class="text-page__p">
                    I developed backend, 90% of frontend logic.
                    Trik needed web store that would serve their 5 pharmacies.
                    It required to create custom logic for catalog, cart and orders.
                    Their site has complicated search by dynamically assignable properties tags,
                    and any logical expression which can be constructed from any of properties or tags.
                    Search result can be filtered by dynamically assignable properties.
                </p>
                <div class="project-about__visit-wrapper">
                    <a class="project-about__visit-btn" href="https://trik.ru" target="_blank">
                        Visit
                    </a>
                </div>
            </div>
        </article>
    </div>
</div>

<div class="fragment" id="project-paxus"></div>
<div class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page text-page--theme--green unfold unfold--hidden inview inview--not">
            <div class="project-about">
                <h1 class="text-page__title">
                    Paxus Website
                </h1>
                <p class="text-page__p">
                    Paxus is a company from Archangelsk, Russian Federation.
                    It constructs and sells offroad vehicles, which can be customized depending on customer's needs.
                    The website is an online shop + CMS.
                </p>
                <img class="text-page__img" src="/assets/images/paxus/catalog-item.png">
                <p class="text-page__p">
                    Catalog includes product constructor where customer can customize
                    vehicle parts such as engine, color, features, etc.
                    Available customization for product can be assigned in CMS.
                </p>
                <div class="project-about__visit-wrapper">
                    <a class="project-about__visit-btn" href="https://paxus.ru" target="_blank">
                        Visit
                    </a>
                </div>
            </div>
        </article>
    </div>
</div>

<div class="fragment" id="project-kemerovo"></div>
<div id="project-kemerovo" class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page text-page--theme--white unfold unfold--hidden inview inview--not">
            <div class="project-about">
                <h1 class="text-page__title">
                    Kemerovo Website
                </h1>
                <p class="text-page__p">
                    Administration of Kemerovo, Russian Federation, ordered a web site
                    to post relevent information related to business of Kemerovo city.
                    The website has news lines, search, feedback and CMS to manage it all.
                </p>
                <img class="text-page__img" src="/assets/images/kemerovo/home.png">
                <div class="project-about__visit-wrapper">
                    <a class="project-about__visit-btn" href="https://ip.kemerovo.ru" target="_blank">
                        Visit
                    </a>
                </div>
            </div>
        </article>
    </div>
</div>
