<div class="fragment" id="project-rivertv"></div>
<div class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page text-page--theme--orange unfold unfold--hidden inview inview--not">
            <div class="project-about">
                <h1 class="text-page__title">
                    RiverTV
                    <ng-container i18n="website">Website</ng-container>
                </h1>
                <p i18n="RiverTV is" class="text-page__p">
                    RiverTV is a video streaming service provided by RiverTV Inc. from Canada.
                </p>
                <p i18n="RiverTV does" class="text-page__p">
                    RiverTV offers streaming of live channels and on-demand content.
                    The website is an online shop and streaming web app where RiverTV package and addons can be acquired, managed and watched.
                </p>
                <img class="text-page__img" src="assets/images/rivertv/tv-guide.png?v=1">
                <p i18n="RiverTV what i did" class="text-page__p">
                    I developed front-end part.
                </p>
                <p i18n="technologies i used" class="text-page__p">
                    Technoligies I used:
                </p>
                <ul>
                    <li>Angular</li>
                    <li>NgRx</li>
                    <li>Webpack</li>
                    <li>PostCss</li>
                    <li>Cypress</li>
                    <li>Gulp</li>
                </ul>
                <div class="project-about__visit-wrapper">
                    <a i18n="visit" class="project-about__visit-btn" href="https://rivertv.ca" target="_blank">
                        Visit
                    </a>
                </div>
            </div>
        </article>
    </div>
</div>

<div class="fragment" id="project-vmedia"></div>
<div class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page text-page--theme--green unfold unfold--hidden inview inview--not">
            <div class="project-about">
                <h1 class="text-page__title">
                    VMedia
                    <ng-container i18n="website">Website</ng-container>
                </h1>
                <p i18n="VMedia is" class="text-page__p">
                    VMedia is an internet service provider from Canada.
                </p>
                <p i18n="VMedia does" class="text-page__p">
                    Apart from internet it also offers services such as cable-free TV, home phone and home security.
                    The website is online shop where such services can acquired and managed.
                </p>
                <img class="text-page__img" src="assets/images/vmedia/checkout.png?v=1">
                <p i18n="VMedia what I did" class="text-page__p">
                    I refactored front-end, implemented new features, fixed bugs, upgraded a lot of legacy code.
                </p>
                <p i18n="technologies i used" class="text-page__p">
                    Technoligies I used:
                </p>
                <ul>
                    <li>AngularJS</li>
                    <li>Typescript</li>
                    <li>Webpack</li>
                    <li>PostCss</li>
                    <li>Cypress</li>
                    <li>Gulp</li>
                </ul>
                <div class="project-about__visit-wrapper">
                    <a i18n="visit" class="project-about__visit-btn" href="https://vmedia.ca" target="_blank">
                        Visit
                    </a>
                </div>
            </div>
        </article>
    </div>
</div>

<div class="fragment" id="project-sm-cms"></div>
<div class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page text-page--theme--white unfold unfold--hidden inview inview--not">
            <div class="project-about">
                <h1 i18n="Scarlett and Monarch CMS" class="text-page__title">
                    "Scarlett & Monarch" CMS
                </h1>
                <p i18n="S&M CMS is used for" class="text-page__p">
                    "Scarlett & Monarch" is a company of commercial website development and hosting.
                    Content management sytem of "Scarlett & Monarch" is used for each and every website project of company.
                    Each customer has their own requirements. CMS evolved with each new requirement.
                </p>
                <img class="text-page__img" src="assets/images/cms/login.png?v=1">
                <p i18n="S&M CMS what I did" class="text-page__p">
                    I developed back-end and front-end, updated legacy code, developed
                    new modules such as <i>catalog editor</i>, <i>feedback</i>, <i>orders management</i>.
                <p i18n="S&M CMS about" class="text-page__p">
                    One of the most advanced modules is <i>catalog editor</i>,
                    which allows binding arbitrary properties to product.
                    It allows bind arbitrary properties such as array of products, array of images,
                    text, number, boolean, array of strings or even arbitrary structure if all the previous was not enough.
                    API of web site allows to create advanced search by this properties.
                    Orders module allows to create flexible orders, which change its' structure
                    with every new project. Order has standard properties such as full name and phone number,
                    but also can have any other property which will be displayed and can be modified. This module
                    also allows to modify orders' content, adding, removing and modifying products. Orders' sum
                    recalculates automatically, including discounts. It also allows to notify client via SMS or email about order status.
                </p>
                <p i18n="technologies I used" class="text-page__p">
                    Technoligies I used:
                </p>
                <ul>
                    <li>Vue</li>
                    <li>Vuex</li>
                    <li>Webpack</li>
                    <li>PHP</li>
                    <li>MySQL</li>
                    <li>Gulp</li>
                </ul>
            </div>
        </article>
    </div>
</div>

<div class="fragment" id="project-trik"></div>
<div class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page text-page--theme--orange unfold unfold--hidden inview inview--not">
            <div class="project-about">
                <h1 class="text-page__title">
                    Trik
                    <ng-container i18n="website">Website</ng-container>
                </h1>
                <p i18n="Trik is" class="text-page__p">
                    Trik is a pharmacy network from Krasnodar, Russian Federation.
                    The website is an online shop + CMS.
                </p>
                <img class="text-page__img" src="assets/images/trik/home.png?v=1">
                <p i18n="Trik about" class="text-page__p">
                    Trik needed web store that would serve their 5 pharmacies.
                    It required to create custom logic for catalog, cart and orders.
                    Their site has complicated search by dynamically assignable properties tags,
                    and any logical expression which can be constructed from any of properties or tags.
                    Search result can be filtered by dynamically assignable properties.
                </p>
                <p i18n="Trik what I did" class="text-page__p">
                    I developed back-end, 90% of front-end logic.
                </p>
                <p i18n="technologies I used" class="text-page__p">
                    Technoligies I used:
                </p>
                <ul>
                    <li>Vue</li>
                    <li>Vuex</li>
                    <li>Webpack</li>
                    <li>PHP</li>
                    <li>MySQL</li>
                    <li>Gulp</li>
                </ul>
                <div class="project-about__visit-wrapper">
                    <a i18n="visit" class="project-about__visit-btn" href="https://trik.ru" target="_blank">
                        Visit
                    </a>
                </div>
            </div>
        </article>
    </div>
</div>

<div class="fragment" id="project-paxus"></div>
<div class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page text-page--theme--green unfold unfold--hidden inview inview--not">
            <div class="project-about">
                <h1 class="text-page__title">
                    Paxus
                    <ng-container i18n="website">Website</ng-container>
                </h1>
                <p i18n="Paxus is" class="text-page__p">
                    Paxus is a company from Archangelsk, Russian Federation.
                    It constructs and sells offroad vehicles, which can be customized depending on customer's needs.
                    The website is an online shop + CMS.
                </p>
                <img class="text-page__img" src="assets/images/paxus/catalog-item.png?v=1">
                <p i18n="Paxus about" class="text-page__p">
                    Catalog includes product constructor where customer can customize
                    vehicle parts such as engine, color, features, etc.
                    Available customization for product can be assigned in CMS.
                </p>
                <p i18n="technologies I used" class="text-page__p">
                    Technoligies I used:
                </p>
                <p i18n="technologies I used" class="text-page__p">
                    I developed back-end and Implemented most complex parts of front-end logic.
                </p>
                <ul>
                    <li>Vue</li>
                    <li>Vuex</li>
                    <li>Webpack</li>
                    <li>PHP</li>
                    <li>MySQL</li>
                </ul>
                <div class="project-about__visit-wrapper">
                    <a i18n="visit" class="project-about__visit-btn" href="https://paxus.ru" target="_blank">
                        Visit
                    </a>
                </div>
            </div>
        </article>
    </div>
</div>

<div class="fragment" id="project-kemerovo"></div>
<div class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <article class="text-page text-page--theme--white unfold unfold--hidden inview inview--not">
            <div class="project-about">
                <h1 class="text-page__title">
                    Kemerovo
                    <ng-container i18n="website">Website</ng-container>
                </h1>
                <p i18n="Kemerovo is" class="text-page__p">
                    Administration of Kemerovo, Russian Federation, ordered a web site
                    to post relevent information related to business of Kemerovo city.
                    The website has news lines, search, feedback and CMS to manage it all.
                </p>
                <img class="text-page__img" src="assets/images/kemerovo/kemerovo.png?v=1">
                <p i18n="Kemerovo what i did" class="text-page__p">
                    I developed back-end.
                </p>
                <p i18n="technologies I used" class="text-page__p">
                    Technoligies I used:
                </p>
                <ul>
                    <li>Vue</li>
                    <li>Gulp</li>
                    <li>PHP</li>
                    <li>MySQL</li>
                </ul>
                <div class="project-about__visit-wrapper">
                    <a i18n="visit" class="project-about__visit-btn" href="https://ip.kemerovo.ru" target="_blank">
                        Visit
                    </a>
                </div>
            </div>
        </article>
    </div>
</div>
