<div class="app-layout__content-wrapper">
    <div class="app-layout__content">
        <div class="text-page text-page--theme--white text-page--less-content">
            <div class="not-found">
                <h2 class="not-found__paragraph">
                    <ng-container i18n="this page doesn't exist">This page doesn't exist</ng-container> ¯\_(ツ)_/¯
                </h2>
                <a i18n="return to home page" class="not-found__link text-page__a" routerLink="/">
                    Return to Home page
                </a>
            </div>
        </div>
    </div>
</div>
