<div class="home" data-test="home">
  <section class="home__img-wrapper">
    <picture class="home-img">
      <source
        srcset="
          assets/images/home-banner.webp    1x,
          assets/images/home-banner-2x.webp 2x
        "
        type="image/webp"
      />

      <img
        src="assets/images/home-banner.png"
        srcset="
          assets/images/home-banner.png    1x,
          assets/images/home-banner-2x.png 2x
        "
      />
    </picture>
  </section>

  <div class="content-wrapper content-wrapper_no-extend">
    <div class="content">
      <article
        class="neon-frame neon-frame_theme_white unfold unfold_hidden content-block"
      >
        <app-welcome></app-welcome>
      </article>
    </div>
  </div>

  <div class="content-wrapper content-wrapper_no-extend">
    <div class="content">
      <article
        class="neon-frame neon-frame_theme_green unfold unfold_hidden content-block"
      >
        <h2 i18n="technology stack@@MY_TECHNOLOGY_STACK">
          My Technology Stack
        </h2>

        <div class="home__tech">
          <app-tech-list></app-tech-list>
        </div>
      </article>
    </div>
  </div>

  <div class="content-wrapper content-wrapper_no-extend">
    <div class="content">
      <article
        class="neon-frame neon-frame_theme_orange unfold unfold_hidden content-block"
      >
        <h2 i18n="projects@@PRODUCTS">Products</h2>

        <app-preview-products></app-preview-products>

        <p class="home__more-products">
          <a
            data-test="home-more-products-link"
            i18n="more products@@MORE_PRODUCTS"
            [routerLink]="routePath.Products"
            (click)="onMoreProductsClick()"
          >
            more products
          </a>
        </p>
      </article>
    </div>
  </div>
</div>
