<div class="product-about" data-test="kemerovo-website">
  <h1 class="content-block__title">
    Kemerovo
    <ng-container i18n="website@@WEBSITE">Website</ng-container>
  </h1>
  <p i18n="Kemerovo is@@PROJECT_KEMEROVO_IS" class="content-block__p">
    Administration of Kemerovo, Russian Federation, ordered a web site to post
    relevent information related to business of Kemerovo city. The website has
    news lines, search, feedback and CMS to manage it all.
  </p>
  <img
    class="content-block__img"
    src="assets/images/kemerovo/kemerovo.png?v=1"
  />
  <div class="product-about__visit-wrapper">
    <a
      i18n="visit@@VISIT"
      class="product-about__visit-btn"
      href="https://ip.kemerovo.ru"
      target="_blank"
    >
      Visit
    </a>
  </div>
  <p
    i18n="Kemerovo what i did@@PROJECT_KEMEROVO_MY_RESPONSIBILITIES"
    class="content-block__p"
  >
    I developed back-end.
  </p>
  <p i18n="Kemerovo technologies@@TECHNOLOGIES_I_USED" class="content-block__p">
    Technologies I used:
  </p>
  <ul>
    <li>Vue</li>
    <li>Gulp</li>
    <li>PHP</li>
    <li>MySQL</li>
  </ul>
</div>
