<div class="product-about content-block" data-test="kemerovo-website">
  <h1 i18n="Kemerovo title@@PROJECT_KEMEROVO_TITLE">Kemerovo Website</h1>

  <p i18n="Kemerovo is@@PROJECT_KEMEROVO_IS">
    Administration of Kemerovo, Russian Federation, ordered a web site to post
    relevent information related to business of Kemerovo city. The website has
    news lines, search, feedback and CMS to manage it all.
  </p>

  <img
    width="1920"
    height="1080"
    src="assets/images/kemerovo/kemerovo.png?v=1"
  />

  <div class="product-about__visit-wrapper">
    <a
      data-test="kemerovo-website-link"
      i18n="visit@@VISIT"
      class="product-about__visit-btn"
      href="https://ip.kemerovo.ru"
      target="_blank"
      (click)="onVisitClick()"
    >
      Visit
    </a>
  </div>

  <p i18n="Kemerovo what i did@@PROJECT_KEMEROVO_MY_RESPONSIBILITIES">
    I developed backend.
  </p>

  <p i18n="used technologies@@TECHNOLOGIES_I_USED">Technologies I used:</p>

  <ul>
    <li>Vue</li>
    <li>Gulp</li>
    <li>PHP</li>
    <li>MySQL</li>
  </ul>
</div>
