<ul class="header-menu" data-test="menu">
  <li
    *ngFor="let menuEntry of menuEntries"
    class="header-menu__entry"
    routerLinkActive="header-menu__entry_active"
    #rla="routerLinkActive"
    [routerLinkActiveOptions]="{ exact: menuEntry.exact }"
    [@slideInOut]="rla.isActive ? 'in' : (isMenuOpen$ | async) ? 'in' : 'out'"
  >
    <a
      [ngClass]="{
        'header-menu__link_visible': (isMenuOpen$ | async) && !rla.isActive
      }"
      class="header-menu__link"
      [routerLink]="menuEntry.href"
      (click)="closeMenu()"
    >
      {{ menuEntry.title }}
    </a>
    <a
      [ngClass]="{
        'header-menu__link_visible': !((isMenuOpen$ | async) && !rla.isActive)
      }"
      href="javascript:void(0)"
      class="header-menu__link"
      (click)="toggleMenu()"
    >
      {{ menuEntry.title }}
    </a>
  </li>
</ul>
