<ul class="header-menu header-menu--mobile--open">
    <li class="header-menu__entry"
        routerLinkActive="header-menu__entry--active"
        [routerLinkActiveOptions]="{exact: true}">
        <a class="header-menu__link" routerLink="/">
            Home
        </a>
    </li>
    <li class="header-menu__entry"
        routerLinkActive="header-menu__entry--active"
        [routerLinkActiveOptions]="{exact: true}">
        <a class="header-menu__link" routerLink="/projects">
            Projects
        </a>
    </li>
    <li class="header-menu__entry"
        routerLinkActive="header-menu__entry--active"
        [routerLinkActiveOptions]="{exact: true}">
        <a class="header-menu__link" routerLink="/about-me">
            About Me
        </a>
    </li>
</ul>
