<div class="about-me">
  <div class="content-wrapper">
    <div class="content">
      <article
        class="content-block content-block_theme_orange unfold unfold_hidden inview inview_not"
      >
        <h1
          i18n="carier page header@@CAREER_PAGE_HEADER"
          class="content-block__title"
        >
          Career
        </h1>
        <p i18n="career beginning@@CAREER_BEGINNING" class="content-block__p">
          In order to start my career as a software developer I've got solid
          math and computer science background in
          <b>NARFU "Applied Mathematics and Computer Science"</b>. At that time
          I participated in math and programming olympiads. As my base
          programming language I regarded <b>C++</b>
          but also I learned and worked with C, Java, Python, Assembly. I've
          graduated in 2017.
        </p>

        <p
          i18n="career beginning commercial@@CAREER_BEGINNING_COMMERCIAL"
          class="content-block__p"
        >
          Short after that I've started my career as backend developer. It was
          my first experience of commercial software development and that's when
          I got acquainted with <b>PHP</b> and <b>MySQL</b>, as well as frontend
          technologies such as <b>Gulp</b>, <b>Webpack</b>, <b>Sass</b>,
          <b>Babel</b>.
        </p>

        <p
          i18n="career frontend framework@@CARRIER_FRONTEND_FRAMEWORK"
          class="content-block__p"
        >
          The time has come when native Javascript was not enough in order to
          keep implementing complex solutions in efficient way. That's when I
          made decision to learn <b>Vue</b> framework which payed out later.
        </p>

        <p
          i18n="career infrastructure@@CAREER_INFRASTRUCTURE"
          class="content-block__p"
        >
          Path lead to resolve more complex problems related to outdated and
          unmaintainable infrastructure. Being experienced with <b>Node.js</b>
          In order to resolve some of existed problems I've implemented
          microservices. There are some of them:
        </p>

        <ul i18n="career micro services@@CAREER_MICRO_SERVICES">
          <li>
            <b>SMS sending gateway</b> - REST API to send SMS notifications
            using GSM gateway
          </li>
          <li>
            <b>PDF generator</b> - REST API to convert HTML page to PDF (useful
            for printing invoices, and not just that)
          </li>
          <li>
            <b>JWT token generator</b> - REST API to generate JWT token pairs
            (useful for authorization)
          </li>
        </ul>

        <p
          i18n="career servies useful@@CAREER_SERVICES_USEFUL"
          class="content-block__p"
        >
          These services was very useful for each new website.
        </p>

        <p
          i18n="career administering@@CAREER_ADMINISTERING"
          class="content-block__p"
        >
          Since each service required separate environnment it required a lot of
          administering efforts, which I was also responsible for. I already had
          a lot knowledge about <b>FreeBSD</b> operating system, so it was time
          to apply this knowledge in practice.
        </p>

        <p i18n="career frontend@@CAREER_FRONTEND" class="content-block__p">
          Then I decided to specialize in frontend and move to big projects.
          That's when I've learned <b>Typescript</b> and <b>Angular</b>
          which became part of my main technology stack till current day. Such
          aspects as Search Engine Optimization (SEO), implementing end-to-end
          tests, pixel perfect markup, cross browser development, accessibility
          - this is what I'm most focused on at work.
        </p>
      </article>
    </div>
  </div>
</div>
