<div class="about-me" data-test="about-me">
  <div class="content-wrapper">
    <div class="content">
      <article class="neon-frame unfold unfold_hidden">
        <div class="content-block">
          <h1 i18n="education page header@@EDUCATION_PAGE_HEADER">Education</h1>

          <p i18n="about education@@EDUCATION_ABOUT">
            Before beginning of my career as a software developer I've got solid
            math and computer science background in
            <b>NARFU "Applied Mathematics and Computer Science"</b>. At that
            time I participated in math and programming olympiads. As my base
            programming language I regarded <b>C++</b>
            but also I learned and worked with C, Java, Python, Assembly. I've
            graduated in 2017.
          </p>
        </div>
      </article>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="content">
      <article class="neon-frame unfold unfold_hidden">
        <div class="content-block">
          <h1 i18n="carier page header@@CAREER_PAGE_HEADER">Career</h1>

          <p i18n="career beginning commercial@@CAREER_BEGINNING_COMMERCIAL">
            I've started my career as a backend developer in 2017. It was my
            first experience of commercial software development and that's when
            I got acquainted with <b>PHP</b> and <b>MySQL</b>. At the same time
            I took a grasp on frontend technologies such as <b>Gulp</b>,
            <b>Webpack</b>, <b>Sass</b>, <b>Babel</b>.
          </p>

          <p i18n="career frontend framework@@CARRIER_FRONTEND_FRAMEWORK">
            The time has come when native Javascript was not enough in order to
            keep implementing complex solutions in efficient way. That's when I
            made decision to learn <b>Vue</b> framework which payed out later.
          </p>

          <p i18n="career infrastructure@@CAREER_INFRASTRUCTURE">
            Path lead to resolve more complex problems related to outdated and
            unmaintainable infrastructure. Being experienced with <b>Node.js</b>
            In order to resolve some of existed problems I've implemented
            microservices. There are some of them:
          </p>

          <ul i18n="career micro services@@CAREER_MICRO_SERVICES">
            <li>
              <b>SMS sending gateway</b> - REST API to send SMS notifications
              using GSM gateway
            </li>

            <li>
              <b>PDF generator</b> - REST API to convert HTML page to PDF
              (useful for printing invoices, and not just that)
            </li>

            <li>
              <b>JWT token generator</b> - REST API to generate JWT token pairs
              (useful for authorization)
            </li>
          </ul>

          <p i18n="career servies useful@@CAREER_SERVICES_USEFUL">
            These services were very useful for each new website.
          </p>

          <p i18n="career administering@@CAREER_ADMINISTERING">
            Since each service required separate environnment it required a lot
            of administering efforts, which I was also responsible for. I
            already had a lot knowledge about <b>FreeBSD</b> operating system,
            so it was time to apply this knowledge in practice.
          </p>

          <p i18n="career frontend@@CAREER_FRONTEND">
            Then I decided to specialize in frontend and move to bigger
            projects. That's when I've learned <b>Typescript</b> and
            <b>Angular</b>
            which became part of my main technology stack till current day. Such
            aspects as Search Engine Optimization (SEO), implementing end-to-end
            tests, pixel perfect markup, cross browser development,
            accessibility - this is what I'm most focused on at work.
          </p>
        </div>
      </article>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="content">
      <article class="neon-frame unfold unfold_hidden">
        <div class="content-block">
          <h1 i18n="what I stand for page header@@WHAT_I_STAND_FOR_PAGE_HEADER">
            My principles
          </h1>

          <p i18n="about principles@@ABOUT_PRINCIPLES">
            At present I realize what I've understood a lot from my experience
            and would like to formulate it in a list of principles:
          </p>

          <ul>
            <li i18n="BDD principle@@PRINCIPLE_BDD">
              I consider that development should start with interface rather
              than implementation, because the main challenge of development is
              to control complexity, and thought through interface manages to do
              so.
            </li>

            <li i18n="SOLID principles@@PRINCIPLE_SOLID">
              I consider that it's worth following SOLID principles, because it
              helps to write reliable and reusable code. The most important ones
              I consider "Single Responsibility" and "Open-Closed" principles.
            </li>

            <li i18n="inheritance@@PRINCIPLE_INHERITANCE">
              I consider that the usefulness of inheritance is often overrated.
              It is appropriate in some cases, but most of the time, object
              composition is preferable, because inheritance creates the
              tightest coupling
            </li>

            <li i18n="refactoring principle@@PRINCIPLE_REFACTORING">
              I consider that refactoring should be regarded as a part of a task
              rather than a separate process
            </li>

            <li i18n="asking questions principle@@PRINCIPLE_ASKING_QUESTIONS">
              I consider the ability to ask correct questions is the most
              valuable skill a developer can have
            </li>

            <li i18n="code formatting principle@@PRINCIPLE_CODE_FORMATTING">
              I am a strong advocate for uniform code formatting, because it
              reduces distractions and helps us focus on what's essential, which
              is software architecture
            </li>

            <li i18n="code integration principle@@PRINCIPLE_CODE_INTEGRATION">
              I am a strong advocate for fast code integration methods like
              trunk-based development, as it significantly reduces bugs caused
              by intricate conflicts
            </li>

            <li i18n="small steps@@PRINCIPLE_SMALL_STEPS">
              I consider it's important to progress in small steps and obtain
              fast feedback at the end of each step in order to avoid wasting
              time and money on features, which are not needed
            </li>

            <li i18n="naming@@PRINCIPLE_NAMING">
              I consider the importance of appropriate naming to be
              significantly underrated in general. It is the hardest part in
              software development and yet receives insufficient attention
            </li>

            <li i18n="tradeoff@@PRINCIPLE_TRADEOFF">
              I consider that every decision in software development is a
              trade-off
            </li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</div>
